<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_073aac1233764d2c81f386cf2b5cb240 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_073aac1233764d2c81f386cf2b5cb240" ></div>
        
</body>
<script>    
    
            var map_073aac1233764d2c81f386cf2b5cb240 = L.map(
                "map_073aac1233764d2c81f386cf2b5cb240",
                {
                    center: [13.133932434766733, 16.103938729508073],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_94d3640689a54f88b6d185f90701e7a4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
            var marker_2439b666e80e41618d8ba8c258572e4f = L.marker(
                [47.09113253131379, 15.475817295884497],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_fa384bf11d52435080642d2d41055355 = L.popup({"maxWidth": "100%"});

        
            var html_26804222e3c344b3a37fbebb997ee9de = $(`<div id="html_26804222e3c344b3a37fbebb997ee9de" style="width: 100.0%; height: 100.0%;">Graz</div>`)[0];
            popup_fa384bf11d52435080642d2d41055355.setContent(html_26804222e3c344b3a37fbebb997ee9de);
        

        marker_2439b666e80e41618d8ba8c258572e4f.bindPopup(popup_fa384bf11d52435080642d2d41055355)
        ;

        
    
    
            marker_2439b666e80e41618d8ba8c258572e4f.bindTooltip(
                `<div>
                     Graz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_07e3aa95e3994a4e807a396e3784d6ec = L.marker(
                [25.031224572388727, 121.5683553927796],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_95ebfa405d7a4c33b2d1ceebeebfb339 = L.popup({"maxWidth": "100%"});

        
            var html_08d8a6ea97d14b399c936d7d98c42272 = $(`<div id="html_08d8a6ea97d14b399c936d7d98c42272" style="width: 100.0%; height: 100.0%;">Taipei</div>`)[0];
            popup_95ebfa405d7a4c33b2d1ceebeebfb339.setContent(html_08d8a6ea97d14b399c936d7d98c42272);
        

        marker_07e3aa95e3994a4e807a396e3784d6ec.bindPopup(popup_95ebfa405d7a4c33b2d1ceebeebfb339)
        ;

        
    
    
            marker_07e3aa95e3994a4e807a396e3784d6ec.bindTooltip(
                `<div>
                     Taipei
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51d6258e63604d0692ba0f5162fbdc59 = L.marker(
                [-23.553587531516293, -46.64191552881332],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_1bb495465ea24b1da4d5b3d5ebe39ec8 = L.popup({"maxWidth": "100%"});

        
            var html_6dd58a86f1d3462faca2edcee87e637b = $(`<div id="html_6dd58a86f1d3462faca2edcee87e637b" style="width: 100.0%; height: 100.0%;">São Paulo</div>`)[0];
            popup_1bb495465ea24b1da4d5b3d5ebe39ec8.setContent(html_6dd58a86f1d3462faca2edcee87e637b);
        

        marker_51d6258e63604d0692ba0f5162fbdc59.bindPopup(popup_1bb495465ea24b1da4d5b3d5ebe39ec8)
        ;

        
    
    
            marker_51d6258e63604d0692ba0f5162fbdc59.bindTooltip(
                `<div>
                     São Paulo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a6c85d3ff99844438dc6768f6022bf4c = L.marker(
                [-21.17541981482625, -47.80700041467615],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_99d92b7d7def44669c7620d8ed678912 = L.popup({"maxWidth": "100%"});

        
            var html_908a8a44d5074d6b83e12c72e66aa2d4 = $(`<div id="html_908a8a44d5074d6b83e12c72e66aa2d4" style="width: 100.0%; height: 100.0%;">Ribeirão Preto</div>`)[0];
            popup_99d92b7d7def44669c7620d8ed678912.setContent(html_908a8a44d5074d6b83e12c72e66aa2d4);
        

        marker_a6c85d3ff99844438dc6768f6022bf4c.bindPopup(popup_99d92b7d7def44669c7620d8ed678912)
        ;

        
    
    
            marker_a6c85d3ff99844438dc6768f6022bf4c.bindTooltip(
                `<div>
                     Ribeirão Preto
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4e3149bce8e5489cb587da89541a973e = L.marker(
                [-27.599309445589657, -48.48817975644357],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_1fef36c4556044f8adb73215593e8caf = L.popup({"maxWidth": "100%"});

        
            var html_605b5f36adf0441c858de08d8ee74db9 = $(`<div id="html_605b5f36adf0441c858de08d8ee74db9" style="width: 100.0%; height: 100.0%;">Florianópolis</div>`)[0];
            popup_1fef36c4556044f8adb73215593e8caf.setContent(html_605b5f36adf0441c858de08d8ee74db9);
        

        marker_4e3149bce8e5489cb587da89541a973e.bindPopup(popup_1fef36c4556044f8adb73215593e8caf)
        ;

        
    
    
            marker_4e3149bce8e5489cb587da89541a973e.bindTooltip(
                `<div>
                     Florianópolis
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce17e24fe7ba4b9b809e4e0be174d69b = L.marker(
                [-12.947243144620645, -38.43641130189653],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_f28e72a1c533412b8745f84ced47bd08 = L.popup({"maxWidth": "100%"});

        
            var html_fd23486b6a7a4b7f80a566bdfd494821 = $(`<div id="html_fd23486b6a7a4b7f80a566bdfd494821" style="width: 100.0%; height: 100.0%;">Salvador</div>`)[0];
            popup_f28e72a1c533412b8745f84ced47bd08.setContent(html_fd23486b6a7a4b7f80a566bdfd494821);
        

        marker_ce17e24fe7ba4b9b809e4e0be174d69b.bindPopup(popup_f28e72a1c533412b8745f84ced47bd08)
        ;

        
    
    
            marker_ce17e24fe7ba4b9b809e4e0be174d69b.bindTooltip(
                `<div>
                     Salvador
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46c717f664984bc18f4f06168336ce91 = L.marker(
                [-9.641966176203784, -35.73846456565925],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_124a83ed38c9463c92a3aaafc17e91bb = L.popup({"maxWidth": "100%"});

        
            var html_bf7cdab2735b4d8281fb559d5a22e97e = $(`<div id="html_bf7cdab2735b4d8281fb559d5a22e97e" style="width: 100.0%; height: 100.0%;">Maceió</div>`)[0];
            popup_124a83ed38c9463c92a3aaafc17e91bb.setContent(html_bf7cdab2735b4d8281fb559d5a22e97e);
        

        marker_46c717f664984bc18f4f06168336ce91.bindPopup(popup_124a83ed38c9463c92a3aaafc17e91bb)
        ;

        
    
    
            marker_46c717f664984bc18f4f06168336ce91.bindTooltip(
                `<div>
                     Maceió
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6e4596a60c1c46a895a7fd309ecd0066 = L.marker(
                [-19.848295063505297, -43.934907510577496],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_76d52bf3f6bc4b2199c471a6152b0d90 = L.popup({"maxWidth": "100%"});

        
            var html_63d52c9ef4da4c5692e7eaa26e900633 = $(`<div id="html_63d52c9ef4da4c5692e7eaa26e900633" style="width: 100.0%; height: 100.0%;">Belo Horizonte</div>`)[0];
            popup_76d52bf3f6bc4b2199c471a6152b0d90.setContent(html_63d52c9ef4da4c5692e7eaa26e900633);
        

        marker_6e4596a60c1c46a895a7fd309ecd0066.bindPopup(popup_76d52bf3f6bc4b2199c471a6152b0d90)
        ;

        
    
    
            marker_6e4596a60c1c46a895a7fd309ecd0066.bindTooltip(
                `<div>
                     Belo Horizonte
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e12aa313e3a48ce9b68dea8ee04eba5 = L.marker(
                [-15.765777242405598, -47.90688628657218],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_a1371b49565547d683ec52a01d4451b3 = L.popup({"maxWidth": "100%"});

        
            var html_83e80a35128246eaa077d589d8b93a52 = $(`<div id="html_83e80a35128246eaa077d589d8b93a52" style="width: 100.0%; height: 100.0%;">Brasília</div>`)[0];
            popup_a1371b49565547d683ec52a01d4451b3.setContent(html_83e80a35128246eaa077d589d8b93a52);
        

        marker_9e12aa313e3a48ce9b68dea8ee04eba5.bindPopup(popup_a1371b49565547d683ec52a01d4451b3)
        ;

        
    
    
            marker_9e12aa313e3a48ce9b68dea8ee04eba5.bindTooltip(
                `<div>
                     Brasília
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f9635768d43414d9fc0e3c3bc5cf8bf = L.marker(
                [-16.765777242405598, -44.90688628657218],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_8fa55e7a7be947ff8ee24faae0d44c2a = L.popup({"maxWidth": "100%"});

        
            var html_4f9eb4346adc4c27881b6dc14b3671a2 = $(`<div id="html_4f9eb4346adc4c27881b6dc14b3671a2" style="width: 100.0%; height: 100.0%;">nan</div>`)[0];
            popup_8fa55e7a7be947ff8ee24faae0d44c2a.setContent(html_4f9eb4346adc4c27881b6dc14b3671a2);
        

        marker_5f9635768d43414d9fc0e3c3bc5cf8bf.bindPopup(popup_8fa55e7a7be947ff8ee24faae0d44c2a)
        ;

        
    
    
            marker_5f9635768d43414d9fc0e3c3bc5cf8bf.bindTooltip(
                `<div>
                     nan
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_52e4676d8e9a4f9798070e4d13bd5b4e = L.marker(
                [-21.98808912883794, -47.91930206555279],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_91c078ae50f840b8b33986581ef9b7bb = L.popup({"maxWidth": "100%"});

        
            var html_5de5eb934fea43d587774e54603936e7 = $(`<div id="html_5de5eb934fea43d587774e54603936e7" style="width: 100.0%; height: 100.0%;">nan</div>`)[0];
            popup_91c078ae50f840b8b33986581ef9b7bb.setContent(html_5de5eb934fea43d587774e54603936e7);
        

        marker_52e4676d8e9a4f9798070e4d13bd5b4e.bindPopup(popup_91c078ae50f840b8b33986581ef9b7bb)
        ;

        
    
    
            marker_52e4676d8e9a4f9798070e4d13bd5b4e.bindTooltip(
                `<div>
                     nan
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_20f5a7725a4a49ab98303c918b4204d3 = L.marker(
                [-21.98808912883794, -47.91930206555279],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_44dee7646d404ff88256b02159385d0f = L.popup({"maxWidth": "100%"});

        
            var html_5522af31d23c4872a5839d6d6f671323 = $(`<div id="html_5522af31d23c4872a5839d6d6f671323" style="width: 100.0%; height: 100.0%;">nan</div>`)[0];
            popup_44dee7646d404ff88256b02159385d0f.setContent(html_5522af31d23c4872a5839d6d6f671323);
        

        marker_20f5a7725a4a49ab98303c918b4204d3.bindPopup(popup_44dee7646d404ff88256b02159385d0f)
        ;

        
    
    
            marker_20f5a7725a4a49ab98303c918b4204d3.bindTooltip(
                `<div>
                     nan
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_78bd7e337b304dc49ee3155830e44bc5 = L.marker(
                [-21.98808912883794, -47.91930206555279],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_9be572100e7f4886b43da4e13fea681c = L.popup({"maxWidth": "100%"});

        
            var html_0f846034f33347fea3021b4f8073d759 = $(`<div id="html_0f846034f33347fea3021b4f8073d759" style="width: 100.0%; height: 100.0%;">Sao carlos</div>`)[0];
            popup_9be572100e7f4886b43da4e13fea681c.setContent(html_0f846034f33347fea3021b4f8073d759);
        

        marker_78bd7e337b304dc49ee3155830e44bc5.bindPopup(popup_9be572100e7f4886b43da4e13fea681c)
        ;

        
    
    
            marker_78bd7e337b304dc49ee3155830e44bc5.bindTooltip(
                `<div>
                     Sao carlos
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_782ecd30476749079a73137c983b05e5 = L.marker(
                [-21.98808912883794, -47.91930206555279],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_f5d0137b732a4fc482d66ad6478eb882 = L.popup({"maxWidth": "100%"});

        
            var html_ce759a9bf0e24f258238872d94b3890a = $(`<div id="html_ce759a9bf0e24f258238872d94b3890a" style="width: 100.0%; height: 100.0%;">Sao carlos</div>`)[0];
            popup_f5d0137b732a4fc482d66ad6478eb882.setContent(html_ce759a9bf0e24f258238872d94b3890a);
        

        marker_782ecd30476749079a73137c983b05e5.bindPopup(popup_f5d0137b732a4fc482d66ad6478eb882)
        ;

        
    
    
            marker_782ecd30476749079a73137c983b05e5.bindTooltip(
                `<div>
                     Sao carlos
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8dddab38e5444c9da40e3b2995320501 = L.marker(
                [-21.98808912883794, -47.91930206555279],
                {}
            ).addTo(map_073aac1233764d2c81f386cf2b5cb240);
        
    
        var popup_e86d42117f19496fbf6dce80e0a8d5f1 = L.popup({"maxWidth": "100%"});

        
            var html_02f5a13a6f76403c93bcac93812c8c26 = $(`<div id="html_02f5a13a6f76403c93bcac93812c8c26" style="width: 100.0%; height: 100.0%;">Sao carlos</div>`)[0];
            popup_e86d42117f19496fbf6dce80e0a8d5f1.setContent(html_02f5a13a6f76403c93bcac93812c8c26);
        

        marker_8dddab38e5444c9da40e3b2995320501.bindPopup(popup_e86d42117f19496fbf6dce80e0a8d5f1)
        ;

        
    
    
            marker_8dddab38e5444c9da40e3b2995320501.bindTooltip(
                `<div>
                     Sao carlos
                 </div>`,
                {"sticky": true}
            );
        
</script>